/* HTML */
html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: #eceeef;
}

div#app {
  min-height: 100%;
  height: 200%;
}

div#main {
  min-height: 100%;
  right: 0;
}

div#main-content {
  @media (min-width: 769px) {
    margin: 50px 50px;
  }
}

.boton-remove {
  color: red;
}

.boton-edit {
  color: #4d78cc;
}

.boton-restore {
  color: green;
}

.foto-resumen {
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
}

.table tbody {
  overflow: auto;
}

@media (max-width: 768px) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
  .btn-block-xs + .btn-block-xs {
    margin-top: 5px;
  }
  input[type="submit"].btn-block-xs,
  input[type="reset"].btn-block-xs,
  input[type="button"].btn-block-xs {
    width: 100%;
  }
}

.text-center-vertical {
  display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.btn-redondo {
  border-radius: 25px;
}

.pagination-redondo {
  border-radius: 15px;
  margin-top: 0;
}

.pagination-redondo > li:first-child > a,
.pagination-redondo > li:first-child > span {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.pagination-redondo > li:last-child > a,
.pagination-redondo > li:last-child > span {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.margen-sup {
  margin-top: 15px;
}

.margen-inf {
  margin-top: 40px;
}

div.header-admin {
  @media (max-height: 768px) {
    height: 76px;
  }
  @media (min-height: 769px) {
    height: 106.4px;
  }
  // background-color: rgba(32,34,37,.6);
  background-color: #243447;
  color: #fff;

  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}

.no-margin-top {
  margin-top: 0;
}

input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
